In [1]:
import pandas as pd
import sqlite3 as sql
from datetime import date, datetime
import numpy as np
import os

from sentence_transformers import SentenceTransformer, util
import torch

In [2]:
def calculate_cosine(model, target_sentence, target_df):
  target_embedding = model.encode(target_sentence, convert_to_tensor=True)
  title_list = list(target_df["content"])
  list_embedding = model.encode(title_list, convert_to_tensor=True)
  cosine_scores = util.cos_sim(target_embedding, list_embedding)
  cosine_list = torch.squeeze(cosine_scores).tolist()
  return list(target_df.id), cosine_list


# Loading Model
print("Loading Model......")
l1 = datetime.now()
model = SentenceTransformer('all-MiniLM-L6-v2')
l2 = datetime.now()
print(f"Model loaded, Load time {l2-l1}")

df = pd.read_csv("bitesizenews/cosine.csv")

Loading Model......
Model loaded, Load time 0:01:37.639658

In [52]:
df = pd.read_csv("cosine.csv")

In [53]:
df

Empty DataFrame
Columns: [id]
Index: []

In [3]:
# Read from database
conn = sql.connect('db.sqlite3')
cursor = conn.execute("SELECT id, content from backendservice_article")

# Get all contents
results = cursor.fetchall()

contents = []
ids = []

for row in results:
    id = row[0]
    content = row[1]

    ids.append(id)
    contents.append(content)

OperationalError: no such table: backendservice_article

In [ ]:
# Taking dummy content
target_id = ids[1]
target_content = [contents[1]]

In [ ]:
df = pd.read_csv("bitesizenews/cosine.csv")
df

In [ ]:
if target_id not in list(df.columns):

    target_dict = {
        "id":ids,
        "content":content
    }

    target_df = pd.DataFrame.from_dict(target_dict)

    id, cosine = calculate_cosine(model, target_content, target_df)

    new_row = [target_id] + [cosine]
    
    print(new_row)

    df[target_id] = np.nan
    
    df.set_index("id")
    
    df.loc[target_id] = cosine

In [111]:
df

      id  862
862  1.0  1.0

In [91]:
df

       id  862
-1  862.0  1.0

In [83]:
new_pd

       0  862   id
0  862.0  NaN  NaN
1    1.0  NaN  NaN